#repo td, #repo th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #repo tr:nth-child(even){background-color: #f2f2f2;}
  
  #repo tr:hover {background-color: #ddd;}
  
  #repo th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
  }